@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  background: #000 url('./assets/background3.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body, input, button, select, tr, th {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 50px auto 0;
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background: #FFF;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content button.btn-teste {
  border: 0; 
  border-radius: 2px; 
  width: 20px; 
  height: 20px; 
  background: #254da9; 
  color: #fff; 
  cursor: pointer;
}

.content table{
  width: 100%;
  margin-bottom: 30px;
}

.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  width: 100%;
}

.content form select {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
  width: 100%;
}


.content form th {
  margin-bottom: 20px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 15px;
}

.content form td {
  margin-bottom: 20px;
  height: 45px;
  padding: 0 15px;
  font-size: 12px;
}

.content th,tr:hover {
  background: rgb(241, 240, 240);
}

.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
}

.content button.btn:hover {
  background: #e14f50;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  border-radius: 2px;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.input-modal {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 15px 15px 15px 15px;
  font-size: 16px;
  width: 100%;
}